@font-face {
	font-family: "Baskerville";
	src: url("./fonts/Baskerville.ttc");
}

h1 {
	font-size: 5em;
  font-weight: 900;
  font-family: 'Baskerville', serif, bold;
	color: rgb(152,173,166);
	display: block;
	padding-bottom: 10px;
	margin: 0 0 5px;
	border-bottom: 1px solid #ccc;
}

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
	margin: 0;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

img {
	border: 5px rgb(152,173,166) solid;
}

p {
	color: #555;
  font-size: 1em;
  margin: 0 0 20px 0;
}

h2 {
	color: rgb(111,127,122);
  font-size: 2em;
}

p.footer {
	font-size: 0.8em;
	text-align: right;
}
